In [45]:
import pytesseract
from PIL import Image
import cv2 
import openai
import os
import getpass 
import tqdm 
from tqdm import tqdm
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import pickle
import ast
import torch
import json 



from pathlib import Path
from difflib import SequenceMatcher
from StringUtils import CorrectDigits, AssignNERTags, AssignLabel
from OCRUtils import apply_tesseract,DrawBoundBoxes,denormalize_box, ProcessImage

In [57]:
def read_bbox_and_words(path : Path):
  bbox_and_words_list = []

  with open(path, 'r', errors='ignore') as f:
    for line in f.read().splitlines():
      if len(line) == 0:
        continue
        
      split_lines = line.split(",")

      bbox = np.array(split_lines[0:8], dtype=np.int32)
      text = ",".join(split_lines[8:])

      # From the splited line we save (filename, [bounding box points], text line).
      # The filename will be useful in the future
      bbox_and_words_list.append([path.stem, *bbox, text])
    
  dataframe = pd.DataFrame(bbox_and_words_list, columns=['filename', 'x0', 'y0', 'x1', 'y1', 'x2', 'y2', 'x3', 'y3', 'line'])
  dataframe = dataframe.drop(columns=['x1', 'y1', 'x3', 'y3'])

  return dataframe

sroie_folder_path = './SROIE2019/'
example_file = 'X00016469612.txt'
# Example usage
bbox_file_path = os.path.join(sroie_folder_path + 'train/box',example_file)
bbox_file_path = Path(bbox_file_path)
bbox = read_bbox_and_words(path=bbox_file_path)
print("\n== Dataframe ==")
bbox

== Dataframe ==

        filename   x0   y0   x2   y2                              line
0   X00016469612   72   25  326   64                     TAN WOON YANN
1   X00016469612   50   82  440  121    BOOK TA .K(TAMAN DAYA) SDN BND
2   X00016469612  205  121  285  139                          789417-W
3   X00016469612  110  144  383  163  NO.53 55,57 & 59, JALAN SAGU 18,
4   X00016469612  192  169  299  187                       TAMAN DAYA,
5   X00016469612  162  193  334  211                81100 JOHOR BAHRU,
6   X00016469612  217  216  275  233                            JOHOR.
7   X00016469612   50  342  279  359          DOCUMENT NO : TD01167104
8   X00016469612   50  372   96  390                             DATE:
9   X00016469612  165  372  342  389             25/12/2018 8:13:39 PM
10  X00016469612   48  396  117  415                          CASHIER:
11  X00016469612  164  397  215  413                             MANIS
12  X00016469612   49  423  122  440                           MEMBER:
13  X00016469612  191  460  298  476                         CASH BILL
14  X00016469612   30  508  121  523                         CODE/DESC
15  X00016469612  200  507  247  521                             PRICE
16  X00016469612  276  506  306  522                              DISC
17  X00016469612  374  507  441  521                            AMOUNT
18  X00016469612   69  531  102  550                               QTY
19  X00016469612  221  531  247  545                                RM
20  X00016469612  420  529  443  547                                RM
21  X00016469612   27  570  137  583                     9556939040116
22  X00016469612  159  570  396  584      KF MODELLING CLAY KIDDY FISH
23  X00016469612   77  598  113  613                              1 PC
24  X00016469612  138  597  148  607                                 *
25  X00016469612  202  597  245  612                             9.000
26  X00016469612  275  598  309  612                              0.00
27  X00016469612  411  596  443  613                              9.00
28  X00016469612  245  639  293  658                            TOTAL:
29  X00016469612  118  671  291  687             ROUR DING ADJUSTMENT:
30  X00016469612  408  669  443  684                              0.00
31  X00016469612   86  704  292  723               ROUND D TOTAL (RM):
32  X00016469612  401  703  443  719                              9.00
33  X00016469612  205  744  243  765                              CASH
34  X00016469612  402  748  441  763                             10.00
35  X00016469612  205  770  271  788                            CHANGE
36  X00016469612  412  772  443  786                              1.00
37  X00016469612   97  845  401  860  GOODS SOLD ARE NOT RETURNABLE OR
38  X00016469612  190  864  309  880                      EXCHANGEABLE
39  X00016469612  142  883  353  901                               ***
40  X00016469612  137  903  351  920                               ***
41  X00016469612  202  942  292  959                         THANK YOU
42  X00016469612  163  962  330  977               PLEASE COME AGAIN !
43  X00016469612  412  639  442  654                              9.00

In [47]:
def read_entities(path: Path):
  with open(path, 'r') as f:
    data = json.load(f)

  dataframe = pd.DataFrame([data])
  return dataframe


sroie_folder_path = './SROIE2019/'
example_file = 'X00016469612.txt'

# Example usage
entities_file_path = os.path.join(sroie_folder_path + 'train/entities',example_file)


entities = read_entities(path=entities_file_path)
print("\n\n== Dataframe ==")
entities

== Dataframe ==

,company,date,address,total
0,BOOK TA .K (TAMAN DAYA) SDN BHD,25/12/2018,"NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 8...",9.00

In [48]:
line = bbox.loc[1,"line"]
entitiesDict = entities.to_dict()
entitiesDict['company'] = entitiesDict['company'][0]
entitiesDict['date'] = entitiesDict['date'][0]
entitiesDict['total'] = entitiesDict['total'][0]
entitiesDict['address'] = entitiesDict['address'][0]

entitiesDict['COMPANY'] = entitiesDict.pop('company')
entitiesDict['DATE'] = entitiesDict.pop('date')
entitiesDict['TOTAL'] = entitiesDict.pop('total')
entitiesDict['LOCATION'] = entitiesDict.pop('address')
line = 'TAMAN'
label = AssignLabel(line, entitiesDict)

print("Line:", line)
print("Assigned label:", label)

Line: TAMAN
Assigned label: COMPANY

In [59]:
SROIE2019Train = pd.read_pickle('./SROIE2019Train')

In [58]:
sroie_train_path = os.path.join(sroie_folder_path,'train/box')

SROIETrain = []
for filename in tqdm(os.listdir(sroie_train_path)):
    file_path = os.path.join(sroie_train_path,filename)
    bbox = read_bbox_and_words(path=Path(file_path))
    words_column = []
    boxes_column = []
    lines = ""

    for indx,row in bbox.iterrows() :
        line = row['line']
        boxe = [row['x0'],row['y0'],row['x2'],row['y2']]
        x0, y0, x2, y2 = (row['x0'],row['y0'],row['x2'],row['y2'])
        lines = lines + " " + line


        bbox_width = boxe[2] - boxe[0]
        words_line = line.split(" ")


        for index, word in enumerate(words_line):
            x2 = x0 + int(bbox_width * len(word)/len(line))

            boxes_column.append([x0,y0,x2,y2])
            x0 = x2 + 5

    words = lines.split(" ")
    words = [word for word in words if len(word) >= 1]

    SROIETrain.append({'filename' : filename, 'words' : words, 'boxes' : boxes_column})
    
SROIETrain = pd.DataFrame(SROIETrain)

  0%|          | 0/626 [00:00<?, ?it/s]

 TAN WOON YANN
['', 'TAN', 'WOON', 'YANN']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18,
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA,
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU,
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR.
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE:
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER:
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER:
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC *
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000', '0.00']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00 9.00
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000', '0.00', '9.00']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00 9.00 TOTAL:
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000', '0.00', '9.00', 'TOTAL:']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00 9.00 TOTAL: ROUR DING ADJUSTMENT:
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000', '0.00', '9.00', 'TOTAL:', 'ROUR', 'DING', 'ADJUSTMENT:']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00 9.00 TOTAL: ROUR DING ADJUSTMENT: 0.00
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000', '0.00', '9.00', 'TOTAL:', 'ROUR', 'DING', 'ADJUSTMENT:', '0.00']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00 9.00 TOTAL: ROUR DING ADJUSTMENT: 0.00 ROUND D TOTAL (RM):
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000', '0.00', '9.00', 'TOTAL:', 'ROUR', 'DING', 'ADJUSTMENT:', '0.00', 'ROUND', 'D', 'TOTAL', '(RM):']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00 9.00 TOTAL: ROUR DING ADJUSTMENT: 0.00 ROUND D TOTAL (RM): 9.00
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000', '0.00', '9.00', 'TOTAL:', 'ROUR', 'DING', 'ADJUSTMENT:', '0.00', 'ROUND', 'D', 'TOTAL', '(RM):', '9.00']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00 9.00 TOTAL: ROUR DING ADJUSTMENT: 0.00 ROUND D TOTAL (RM): 9.00 CASH
['', 'TAN', 'WOON', 'YANN', 'BOOK', 'TA', '.K(TAMAN', 'DAYA)', 'SDN', 'BND', '789417-W', 'NO.53', '55,57', '&', '59,', 'JALAN', 'SAGU', '18,', 'TAMAN', 'DAYA,', '81100', 'JOHOR', 'BAHRU,', 'JOHOR.', 'DOCUMENT', 'NO', ':', 'TD01167104', 'DATE:', '25/12/2018', '8:13:39', 'PM', 'CASHIER:', 'MANIS', 'MEMBER:', 'CASH', 'BILL', 'CODE/DESC', 'PRICE', 'DISC', 'AMOUNT', 'QTY', 'RM', 'RM', '9556939040116', 'KF', 'MODELLING', 'CLAY', 'KIDDY', 'FISH', '1', 'PC', '*', '9.000', '0.00', '9.00', 'TOTAL:', 'ROUR', 'DING', 'ADJUSTMENT:', '0.00', 'ROUND', 'D', 'TOTAL', '(RM):', '9.00', 'CASH']
 TAN WOON YANN BOOK TA .K(TAMAN DAYA) SDN BND 789417-W NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 81100 JOHOR BAHRU, JOHOR. DOCUMENT NO : TD01167104 DATE: 25/12/2018 8:13:39 PM CASHIER: MANIS MEMBER: CASH BILL CODE/DESC PRICE DISC AMOUNT QTY RM RM 9556939040116 KF MODELLING CLAY KIDDY FISH 1 PC * 9.000 0.00 9.00 TOTAL: ROUR DING ADJUSTMENT: 0.00 ROUND D TOTAL (RM): 9.00 CASH 10.00

In [84]:
SROIETrain

,filename,words,boxes
0,X00016469612.txt,"[TAN, WOON, YANN, BOOK, TA, .K(TAMAN, DAYA), S...","[[72, 25, 130, 64], [135, 25, 213, 64], [218, ..."
1,X00016469619.txt,"[TAN, WOON, YANN, INDAH, GIFT, &, HOME, DECO, ...","[[76, 50, 133, 84], [138, 50, 214, 84], [219, ..."
2,X00016469620.txt,"[TAN, WOON, YANN, MR, D.T.Y., (JOHOR), SDN, BH...","[[119, 47, 176, 80], [181, 47, 257, 80], [262,..."
3,X00016469622.txt,"[TAN, WOON, YANN, YONGFATT, ENTERPRISE, (JM051...","[[96, 41, 155, 79], [160, 41, 239, 79], [244, ..."
4,X00016469623.txt,"[TAN, WOON, YANN, MR, D.I.Y., (M), SDN, BHD, (...","[[83, 41, 140, 78], [145, 41, 221, 78], [226, ..."
...,...,...,...
621,X51008164997.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[86, 329, 131, 368], [136, 329, 181, 368], [1..."
622,X51008164998.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[87, 341, 132, 377], [137, 341, 182, 377], [1..."
623,X51008164999.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[85, 334, 130, 363], [135, 334, 180, 363], [1..."
624,X51009453801.txt,"[3180303, GL, HANDICRAFT, &, TAIL, ORING, 19,,...","[[16, 40, 131, 62], [104, 195, 203, 219], [208..."
625,X51009453804.txt,"[3180303, LIAN, HING, STATIONERY, SDN, BHD, (1...","[[18, 17, 132, 41], [154, 134, 233, 154], [238..."

In [85]:
SROIETrain.to_pickle('./SROIETrain')

In [61]:
sroie_folder_path = './SROIE2019/'
sroie_test_path = os.path.join(sroie_folder_path,'test/box')

SROIEtest = []
for filename in tqdm(os.listdir(sroie_test_path)):
    file_path = os.path.join(sroie_test_path,filename)
    bbox = read_bbox_and_words(path=Path(file_path))
    words_column = []
    boxes_column = []
    lines = ""

    for indx,row in bbox.iterrows() :
        line = row['line']
        boxe = [row['x0'],row['y0'],row['x2'],row['y2']]
        x0, y0, x2, y2 = (row['x0'],row['y0'],row['x2'],row['y2'])
        lines = lines + " " + line
        bbox_width = boxe[2] - boxe[0]
        words_line = line.split(" ")

        
        for index, word in enumerate(words_line):
            x2 = x0 + int(bbox_width * len(word)/len(line))

            boxes_column.append([x0,y0,x2,y2])
            x0 = x2 + 5

    words = lines.split(" ")
    words = [word for word in words if len(word) >= 1]

    SROIEtest.append({'filename' : filename, 'words' : words, 'boxes' : boxes_column})
        
SROIEtest = pd.DataFrame(SROIEtest)

100%|| 347/347 [00:03<00:00, 112.67it/s]

In [62]:
SROIEtest = pd.DataFrame(SROIEtest)

In [63]:
SROIEtest

,filename,words,boxes
0,X00016469670.txt,"[TAN, CHAY, YEE, ***, COPY, ***, OJC, MARKETIN...","[[98, 26, 153, 66], [158, 26, 232, 66], [237, ..."
1,X00016469671.txt,"[TAN, CHAY, YEE, OJC, MARKETING, SDN, BHD, ROC...","[[114, 54, 167, 92], [172, 54, 242, 92], [247,..."
2,X51005200931.txt,"[PERNIAGAAN, ZHENG, HUI, JM0326955-V, NO.59, J...","[[380, 241, 498, 266], [503, 241, 562, 266], [..."
3,X51005230605.txt,"[PETRON, BKT, LANJAN, SB, ALSERKAM, ENTERPRISE...","[[153, 104, 239, 141], [244, 104, 287, 141], [..."
4,X51005230616.txt,"[190, GERBANG, ALAF, RESTAURANTS, SDN, BHD, (6...","[[244, 105, 327, 167], [37, 188, 133, 225], [1..."
...,...,...,...
342,X51008099100.txt,"[PAPPARICH, BMC, NO.19, &, 21, JALAN, TEMENGGU...","[[178, 149, 549, 188], [554, 149, 677, 188], [..."
343,X51009008095.txt,"[BOON, SENG, PAPER, SDN, BHD, (1248717-W), 12,...","[[97, 150, 159, 183], [164, 150, 226, 183], [2..."
344,X51009447842.txt,"[PASARAYA, BORONG, PINTAR, SDN, BHD, BR, NO.:,...","[[131, 184, 383, 232], [388, 184, 577, 232], [..."
345,X51009453729.txt,"[3180303, LIAN, HING, STATIONERY, SDN, BHD, (1...","[[10, 21, 126, 45], [152, 137, 197, 156], [202..."
346,X51009568881.txt,"[HON, HWA, HARDWARE, TRADING, COMPANY, REG., N...","[[46, 276, 137, 317], [142, 276, 233, 317], [2..."

In [52]:
SROIEtest.to_pickle('./SROIETest')

## Complete Data Preparation

In [53]:
DatasetSROIE2019 = pd.read_pickle('./DatasetSROIE2019V3')
SROIEtest = pd.read_pickle('./SROIETest')
SROIEtrain = pd.read_pickle('./SROIE2019Train')

In [54]:
SROIEtrain

,filename,words,boxes,entities,ner_tags
0,X00016469612.txt,"[TAN, WOON, YANN, BOOK, TA, .K(TAMAN, DAYA), S...","[[72, 25, 130, 64], [135, 25, 213, 64], [218, ...","{'COMPANY': 'BOOK TA .K (TAMAN DAYA) SDN BHD',...","[O, O, O, COMPANY, COMPANY, COMPANY, COMPANY, ..."
1,X00016469619.txt,"[TAN, WOON, YANN, INDAH, GIFT, &, HOME, DECO, ...","[[76, 50, 133, 84], [138, 50, 214, 84], [219, ...","{'COMPANY': 'INDAH GIFT & HOME DECO', 'DATE': ...","[O, O, O, COMPANY, COMPANY, COMPANY, COMPANY, ..."
2,X00016469620.txt,"[TAN, WOON, YANN, MR, D.T.Y., (JOHOR), SDN, BH...","[[119, 47, 176, 80], [181, 47, 257, 80], [262,...","{'COMPANY': 'MR D.I.Y. (JOHOR) SDN BHD', 'DATE...","[O, O, O, COMPANY, COMPANY, COMPANY, COMPANY, ..."
3,X00016469622.txt,"[TAN, WOON, YANN, YONGFATT, ENTERPRISE, (JM051...","[[96, 41, 155, 79], [160, 41, 239, 79], [244, ...","{'COMPANY': 'YONGFATT ENTERPRISE', 'DATE': '25...","[O, O, O, COMPANY, COMPANY, O, LOCATION, LOCAT..."
4,X00016469623.txt,"[TAN, WOON, YANN, MR, D.I.Y., (M), SDN, BHD, (...","[[83, 41, 140, 78], [145, 41, 221, 78], [226, ...","{'COMPANY': 'MR D.I.Y. (M) SDN BHD', 'DATE': '...","[O, O, O, COMPANY, COMPANY, COMPANY, COMPANY, ..."
...,...,...,...,...,...
621,X51008164997.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[86, 329, 131, 368], [136, 329, 181, 368], [1...",{'COMPANY': 'ONE ONE THREE SEAFOOD RESTAURANT ...,"[COMPANY, COMPANY, COMPANY, COMPANY, COMPANY, ..."
622,X51008164998.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[87, 341, 132, 377], [137, 341, 182, 377], [1...",{'COMPANY': 'ONE ONE THREE SEAFOOD RESTAURANT ...,"[COMPANY, COMPANY, COMPANY, COMPANY, COMPANY, ..."
623,X51008164999.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[85, 334, 130, 363], [135, 334, 180, 363], [1...",{'COMPANY': 'ONE ONE THREE SEAFOOD RESTAURANT ...,"[COMPANY, COMPANY, COMPANY, COMPANY, COMPANY, ..."
624,X51009453801.txt,"[3180303, GL, HANDICRAFT, &, TAIL, ORING, 19,,...","[[16, 40, 131, 62], [104, 195, 203, 219], [208...","{'COMPANY': 'GL HANDICRAFT & TAIL ORING', 'DAT...","[O, COMPANY, COMPANY, COMPANY, COMPANY, COMPAN..."
625,X51009453804.txt,"[3180303, LIAN, HING, STATIONERY, SDN, BHD, (1...","[[18, 17, 132, 41], [154, 134, 233, 154], [238...","{'COMPANY': 'LIAN HING STATIONERY SDN BHD', 'D...","[O, COMPANY, COMPANY, COMPANY, COMPANY, COMPAN..."

Here we prompt gpt to give us the corresponding values for tax and currency

In [55]:
message_prompt = """You are POS receipt data expert, parse, detect, recognize and convert following receipt OCR image result into structure receipt data object. 
Don't make up value not in the Input. Output must be a well-formed JSON object. give me ONLY the list of:
- date named entity (DD/MM/YYYY only format)
- ADDRESS named entity
- COMPANY named entity
- tax value entity
- Total price value entity
- Currency value entity (euro USD etc ...)
Format the output in json with the following keys:
- COMPANY for organization named entity
- ADDRESS for location named entity
- DATE for date named entity
- TAX for tax value entity
- TOTAL for total price
- CURRENCY for currency value


it is important to find CURRENCY and TAX, make sure to give to CURRENCY a value that is in the words list e.g do not give USD value if USD doesn't exist and instead $ is existant

And Make sure to not confuse COMPANY and ADDRESS as it is important

list of words below: """

entities_column = []
for indx, row in tqdm(SROIEtest.iterrows()):
    words = row['words']
    sentence = str(words)
    message = message_prompt + '\n' + sentence
    filename = row['filename']

    try:
        # GPT API Prompt
        response = openai.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=[
                {
                    "role": "user",
                    "content": message
                }
            ],
            temperature=0.7,
            max_tokens=400,
            top_p=1,
            frequency_penalty=0,
            presence_penalty=0
        )

        DictResponse = ast.literal_eval(response.choices[0].message.content)

        entities_column.append(DictResponse)
        
    except Exception as e:
        print(f"Error processing file {row['filename']}: {e}")
        entity_path = os.path.join()
        entities_column.append()

        continue
SROIEtest['entities'] = entities_column

SROIEtest.to_pickle('SROIE2019Test')

269it [11:44,  2.32s/it]

Error processing file X51006912998.txt: malformed node or string on line 5: <ast.Name object at 0x0000029D6282B400>

282it [12:22,  2.96s/it]

Error processing file X51007231276.txt: unterminated string literal (detected at line 3) (<unknown>, line 3)

347it [15:14,  2.64s/it]

ValueError: Length of values (345) does not match length of index (347)

In [19]:
folder_entities_path = './SROIE2019/train/entities'

for indx, row in SROIEtrain.iterrows():
    filename = row['filename']
    file_entity = os.path.join(folder_entities_path, filename)
    
    with open(file_entity, 'r') as file:
        DictEntities = json.load(file)

    if row['entities']['TAX'] == row['entities']['TOTAL']:
        row['entities']['TAX'] = '0'

    newDict = {
        'COMPANY': DictEntities.get('company', row['entities']['COMPANY']),
        'ADDRESS': DictEntities.get('address', row['entities']['ADDRESS']),
        'DATE': DictEntities.get('date', row['entities']['DATE']),
        'TOTAL': DictEntities.get('total', row['entities']['TOTAL']),
        'TAX': row['entities']['TAX'],
        'CURRENCY': row['entities']['CURRENCY']
    }
    
    row['entities'] = newDict

In [25]:
SROIEtrain.to_pickle('./SROIETrain')

In [27]:
ner_tags_SROIE2019 = []

for indx ,row in tqdm(SROIEtrain.iterrows()):
    words = row['words'] 
    boxes = row['boxes']
    entities = row['entities']

    ner_tags = AssignNERTags(words=words,entities=row['entities'],boxes=boxes)

    ner_tags_SROIE2019.append(ner_tags)
    
    filename = row['filename']


SROIEtrain['ner_tags'] = ner_tags_SROIE2019

0it [00:00, ?it/s]

626it [00:15, 40.29it/s]

In [29]:
SROIEtrain.to_pickle('./SROIE2019Train')

In [33]:
image_column = []

for indx ,row in tqdm(SROIEtrain.iterrows()):
    filename = row['filename']
    folder_path = './SROIE2019/train/img'
    image_path = os.path.join(folder_path, filename)
    base_name, extension = os.path.splitext(image_path)

    # Replace the extension with .jpg
    image_path = base_name + '.jpg'
    image = Image.open(image_path)

    image_column.append(image)

SROIEtrain['image'] = image_column

626it [00:00, 1509.96it/s]

In [37]:
indexes_to_drop = []
for indx ,row in tqdm(SROIEtrain.iterrows()):
    image = row['image']
    print(image.size)
    # image_array = np.array(image)
    # ndim = image_array.ndim
    # if ndim < 3 :
    #     print(indx, f'has only {ndim} dimensions ')
    #     indexes_to_drop.append(indx)

# SROIEtrain.drop(index = indexes_to_drop, inplace= True)

623it [00:00, 11268.20it/s]

(463, 1013)
(439, 1004)
(459, 949)
(461, 933)
(463, 1026)
(463, 605)
(457, 1170)
(463, 797)
(992, 1403)
(604, 1716)
(873, 1656)
(752, 2214)
(747, 1412)
(807, 1390)
(780, 2044)
(747, 1412)
(818, 1924)
(835, 2333)
(818, 1924)
(447, 915)
(623, 1255)
(993, 2481)
(953, 1629)
(2481, 3508)
(2481, 3508)
(2481, 3508)
(1654, 2339)
(1654, 2339)
(949, 1349)
(748, 1338)
(1080, 1527)
(1080, 1527)
(1080, 1527)
(1080, 1527)
(1080, 1527)
(1080, 1519)
(1080, 1527)
(1080, 1527)
(1080, 1527)
(591, 1711)
(619, 1131)
(619, 1203)
(627, 1235)
(627, 1535)
(1080, 1527)
(1080, 1528)
(1080, 1527)
(1080, 1527)
(1080, 1527)
(1080, 1527)
(1080, 1528)
(1080, 1528)
(1080, 1528)
(1080, 1528)
(1080, 1528)
(1080, 1528)
(1080, 1528)
(1080, 1527)
(1080, 1527)
(1080, 1527)
(789, 1772)
(792, 2748)
(753, 1305)
(664, 1664)
(668, 1598)
(936, 1766)
(932, 2160)
(932, 1987)
(932, 1771)
(888, 1571)
(888, 1718)
(928, 2130)
(932, 2683)
(615, 931)
(583, 1303)
(615, 931)
(619, 875)
(944, 2439)
(936, 1841)
(932, 2220)
(884, 1678)
(936, 1676)
(884, 2249)
(936, 2785)
(932, 1644)
(936, 1681)
(932, 2067)
(932, 2168)
(932, 2246)
(710, 2020)
(963, 2260)
(853, 2537)
(793, 1373)
(697, 1481)
(741, 1509)
(681, 1737)
(761, 1713)
(741, 1733)
(704, 1883)
(814, 1477)
(937, 1449)
(937, 1450)
(804, 2157)
(943, 1871)
(782, 2213)
(713, 2066)
(937, 3556)
(934, 2732)
(933, 1697)
(936, 1698)
(935, 1695)
(934, 2789)
(741, 1220)
(933, 2079)
(932, 2172)
(933, 1861)
(940, 2077)
(932, 2169)
(935, 1970)
(935, 1861)
(934, 1860)
(935, 1864)
(932, 1864)
(932, 1973)
(935, 1865)
(938, 1864)
(934, 2081)
(935, 1859)
(932, 1975)
(938, 1972)
(934, 1927)
(615, 1403)
(623, 1535)
(958, 1816)
(892, 2897)
(1263, 2143)
(932, 1907)
(932, 1865)
(932, 1780)
(932, 1784)
(932, 1869)
(932, 1783)
(932, 1692)
(932, 1695)
(920, 1929)
(920, 1757)
(936, 2283)
(936, 2779)
(608, 1214)
(584, 1072)
(616, 1192)
(616, 1182)
(615, 1727)
(615, 1491)
(607, 1295)
(600, 1312)
(936, 1617)
(932, 2222)
(884, 1424)
(884, 1741)
(932, 2852)
(932, 1368)
(884, 1610)
(884, 1597)
(932, 1708)
(936, 2017)
(812, 2864)
(932, 1617)
(884, 1963)
(932, 1920)
(932, 2253)
(816, 2229)
(940, 2594)
(932, 2679)
(936, 1858)
(936, 2132)
(932, 2132)
(932, 2107)
(944, 2105)
(928, 2115)
(735, 1889)
(831, 1331)
(740, 1173)
(744, 1335)
(706, 1659)
(744, 1970)
(702, 1466)
(740, 1863)
(786, 2184)
(744, 1244)
(934, 2132)
(942, 2020)
(932, 1838)
(711, 1662)
(704, 2587)
(706, 1640)
(708, 1652)
(705, 1844)
(711, 1313)
(710, 1208)
(714, 1463)
(710, 1227)
(703, 1784)
(710, 1451)
(708, 1330)
(708, 1302)
(703, 1373)
(703, 1328)
(698, 1448)
(740, 1946)
(986, 2559)
(986, 2559)
(747, 1180)
(687, 1246)
(841, 1424)
(864, 1617)
(770, 1290)
(619, 1331)
(724, 2007)
(813, 1337)
(748, 1457)
(754, 1863)
(744, 2177)
(746, 1824)
(744, 1286)
(746, 768)
(949, 2153)
(873, 1733)
(932, 2050)
(828, 2022)
(807, 2033)
(850, 2023)
(741, 1892)
(702, 2053)
(725, 1388)
(744, 1458)
(742, 1449)
(744, 1458)
(703, 1819)
(702, 1433)
(703, 1779)
(707, 1722)
(696, 2213)
(684, 1674)
(729, 1936)
(748, 1574)
(705, 1394)
(704, 2452)
(522, 954)
(700, 1574)
(705, 1564)
(740, 1483)
(705, 1877)
(740, 2465)
(707, 1688)
(709, 1283)
(742, 1196)
(523, 1087)
(524, 1078)
(704, 1513)
(705, 1474)
(708, 1699)
(705, 1276)
(738, 1238)
(712, 1957)
(701, 1399)
(938, 1961)
(888, 2269)
(888, 2276)
(890, 2264)
(935, 3296)
(708, 1463)
(698, 1372)
(751, 1370)
(744, 1787)
(594, 1105)
(592, 1563)
(735, 1689)
(707, 1230)
(708, 1394)
(743, 1454)
(4945, 6981)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4912, 6888)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4953, 6993)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4854, 6724)
(4961, 7016)
(4945, 6981)
(544, 1646)
(621, 975)
(575, 1975)
(587, 1471)
(443, 911)
(443, 875)
(623, 1207)
(619, 1803)
(615, 935)
(439, 851)
(443, 1319)
(623, 1371)
(588, 1464)
(592, 982)
(588, 1248)
(588, 1728)
(616, 1192)
(616, 1166)
(620, 1204)
(616, 1240)
(620, 1200)
(620, 1298)
(622, 1245)
(621, 1264)
(616, 1196)
(616, 1312)
(620, 1200)
(620, 1224)
(620, 1172)
(608, 918)
(616, 1182)
(612, 1254)
(622, 1268)
(616, 1200)
(616, 1176)
(616, 1248)
(616, 1184)
(620, 1282)
(612, 1256)
(620, 1256)
(588, 1216)
(616, 1200)
(621, 1296)
(616, 1190)
(616, 1358)
(616, 1216)
(620, 1245)
(616, 1150)
(616, 1182)
(612, 1208)
(620, 1208)
(612, 1160)
(620, 1176)
(620, 1176)
(619, 1220)
(616, 1224)
(616, 1200)
(618, 1234)
(620, 1276)
(620, 1264)
(616, 1238)
(604, 1172)
(616, 1208)
(620, 1184)
(616, 1224)
(888, 1978)
(888, 1681)
(888, 2185)
(888, 2160)
(880, 3123)
(888, 2595)
(888, 2904)
(888, 1684)
(884, 1679)
(812, 2214)
(884, 1677)
(932, 2225)
(888, 1939)
(884, 2822)
(884, 1688)
(888, 2899)
(920, 1864)
(884, 1838)
(932, 1659)
(928, 2068)
(880, 2900)
(888, 1677)
(884, 1833)
(884, 2376)
(888, 1813)
(936, 1321)
(888, 2603)
(932, 1432)
(884, 2620)
(888, 2038)
(884, 1979)
(932, 2044)
(623, 1079)
(623, 1607)
(615, 1347)
(731, 1324)
(754, 1279)
(932, 1812)
(884, 1840)
(816, 2156)
(888, 2016)
(884, 2104)
(932, 2143)
(532, 1336)
(532, 1502)
(436, 1488)
(4854, 6712)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4846, 6689)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(740, 1698)
(792, 1301)
(753, 1445)
(787, 1490)
(825, 1568)
(741, 1428)
(864, 1213)
(842, 1280)
(831, 1695)
(775, 1500)
(814, 1374)
(735, 1689)
(704, 1404)
(624, 1273)
(621, 1526)
(622, 1428)
(621, 1280)
(616, 1032)
(4945, 6981)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(616, 1614)
(620, 1212)
(608, 1040)
(623, 1471)
(623, 1515)
(619, 1475)
(619, 1475)
(619, 1483)
(619, 1583)
(619, 1555)
(615, 1407)
(623, 1407)
(623, 1467)
(623, 1475)
(623, 1519)
(623, 1471)
(623, 1591)
(623, 1399)
(623, 1555)
(623, 1519)
(619, 1475)
(623, 1539)
(635, 1323)
(623, 1475)
(623, 1471)
(623, 1719)
(619, 1407)
(619, 1547)
(623, 1475)
(615, 1479)
(623, 1479)
(619, 1475)
(615, 1475)
(619, 1479)
(623, 1511)
(627, 1559)
(619, 1607)
(623, 1511)
(619, 1511)
(591, 1779)
(595, 1771)
(591, 1659)
(591, 1783)
(591, 1803)
(591, 1759)
(587, 1783)
(591, 1395)
(591, 1771)
(587, 1815)
(587, 1771)
(587, 1779)
(612, 984)
(627, 1411)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(4961, 7016)
(794, 1354)
(791, 1623)
(788, 1609)
(789, 1442)
(791, 1512)
(794, 1515)
(783, 1583)
(792, 1447)
(791, 1453)
(791, 1334)
(757, 1204)
(825, 2135)
(932, 1654)
(928, 1738)
(928, 1828)
(932, 1742)
(932, 1974)
(932, 2143)
(932, 2113)
(932, 1718)
(932, 1795)
(932, 1659)
(936, 1829)
(932, 1741)
(932, 1740)
(932, 1964)
(932, 1826)
(932, 2722)
(936, 1663)
(936, 2004)
(751, 1324)
(748, 1397)
(750, 1471)
(884, 1636)
(888, 1741)
(936, 1741)
(936, 1665)
(936, 1749)
(748, 1444)
(532, 1271)
(532, 1305)
(537, 1247)
(748, 1271)
(532, 1295)
(621, 1331)
(622, 1144)
(622, 1310)
(622, 1423)
(932, 1786)
(928, 1559)
(884, 1613)
(791, 1794)
(936, 1992)
(932, 2166)
(932, 2167)
(936, 1949)
(884, 1854)
(892, 1686)
(928, 2110)
(932, 2211)
(928, 2143)
(932, 2214)
(928, 2213)
(928, 2350)
(932, 2354)
(928, 2104)
(616, 1304)
(616, 1020)
(646, 1267)
(936, 2248)
(660, 1243)
(924, 1771)
(928, 1662)
(795, 1799)
(790, 1634)
(791, 1848)
(795, 1784)
(795, 1705)
(793, 1636)
(791, 1932)
(583, 1303)
(619, 875)

In [36]:
SROIEtrain = SROIEtrain.reset_index()

,index,filename,words,boxes,entities,ner_tags,image
0,0,X00016469612.txt,"[TAN, WOON, YANN, BOOK, TA, .K(TAMAN, DAYA), S...","[[72, 25, 130, 64], [135, 25, 213, 64], [218, ...","{'COMPANY': 'BOOK TA .K (TAMAN DAYA) SDN BHD',...","[O, O, O, COMPANY, COMPANY, COMPANY, COMPANY, ...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
1,1,X00016469619.txt,"[TAN, WOON, YANN, INDAH, GIFT, &, HOME, DECO, ...","[[76, 50, 133, 84], [138, 50, 214, 84], [219, ...","{'COMPANY': 'INDAH GIFT & HOME DECO', 'DATE': ...","[O, O, O, COMPANY, COMPANY, COMPANY, COMPANY, ...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
2,2,X00016469620.txt,"[TAN, WOON, YANN, MR, D.T.Y., (JOHOR), SDN, BH...","[[119, 47, 176, 80], [181, 47, 257, 80], [262,...","{'COMPANY': 'MR D.I.Y. (JOHOR) SDN BHD', 'DATE...","[O, O, O, COMPANY, COMPANY, COMPANY, COMPANY, ...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
3,3,X00016469622.txt,"[TAN, WOON, YANN, YONGFATT, ENTERPRISE, (JM051...","[[96, 41, 155, 79], [160, 41, 239, 79], [244, ...","{'COMPANY': 'YONGFATT ENTERPRISE', 'DATE': '25...","[O, O, O, COMPANY, COMPANY, O, LOCATION, LOCAT...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
4,4,X00016469623.txt,"[TAN, WOON, YANN, MR, D.I.Y., (M), SDN, BHD, (...","[[83, 41, 140, 78], [145, 41, 221, 78], [226, ...","{'COMPANY': 'MR D.I.Y. (M) SDN BHD', 'DATE': '...","[O, O, O, COMPANY, COMPANY, COMPANY, COMPANY, ...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
...,...,...,...,...,...,...,...
618,621,X51008164997.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[86, 329, 131, 368], [136, 329, 181, 368], [1...",{'COMPANY': 'ONE ONE THREE SEAFOOD RESTAURANT ...,"[COMPANY, COMPANY, COMPANY, COMPANY, COMPANY, ...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
619,622,X51008164998.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[87, 341, 132, 377], [137, 341, 182, 377], [1...",{'COMPANY': 'ONE ONE THREE SEAFOOD RESTAURANT ...,"[COMPANY, COMPANY, COMPANY, COMPANY, COMPANY, ...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
620,623,X51008164999.txt,"[ONE, ONE, THREE, SEAFOOD, RESTAURANT, SDN, BH...","[[85, 334, 130, 363], [135, 334, 180, 363], [1...",{'COMPANY': 'ONE ONE THREE SEAFOOD RESTAURANT ...,"[COMPANY, COMPANY, COMPANY, COMPANY, COMPANY, ...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
621,624,X51009453801.txt,"[3180303, GL, HANDICRAFT, &, TAIL, ORING, 19,,...","[[16, 40, 131, 62], [104, 195, 203, 219], [208...","{'COMPANY': 'GL HANDICRAFT & TAIL ORING', 'DAT...","[O, COMPANY, COMPANY, COMPANY, COMPANY, COMPAN...",<PIL.JpegImagePlugin.JpegImageFile image mode=...
622,625,X51009453804.txt,"[3180303, LIAN, HING, STATIONERY, SDN, BHD, (1...","[[18, 17, 132, 41], [154, 134, 233, 154], [238...","{'COMPANY': 'LIAN HING STATIONERY SDN BHD', 'D...","[O, COMPANY, COMPANY, COMPANY, COMPANY, COMPAN...",<PIL.JpegImagePlugin.JpegImageFile image mode=...